<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodavanje jezika</title>
</head>
<body>
<h3>Dodajte novi jezik</h3>

<form action="/jezici/DodajJezik" method="post">
<label>Unesite ime jezika: </label><br><br>
<input type="text" name="imeJezika" placeholder="ime jezika" required="required"><br><br>
<label>Unesite vrednost:</label><br><br>
<input type="text" name="vrednost" placeholder="vrednost" required="required">
<input type="submit" value="Dodaj novi jezik">
</form>
</body>
</html>